<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wecom.botfather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.wecom.BotFatherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BotFather">
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BotFather.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 受限于国内网络，verify 会失败 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="foodiestudio.github.io"
                    android:pathPrefix="/BotFather" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.chat.ChatActivity"
            android:theme="@style/Theme.BotFather.NoActionBar" />

        <activity
            android:name=".ui.chat.MessageTemplateActivity"
            android:theme="@style/Theme.BotFather.NoActionBar" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:theme="@style/Theme.BotFather.NoActionBar" />
    </application>

</manifest>